
<table class="table table-striped">
  <tr>
    <th>
      Likes
    </th>
     <th>Names</th>
   </tr>
   <% @post.each do |post| %>
    <tr>

      <td>
        <%= post.vote %>
     </td>
     <td>
       <div>
         <%= link_to post.name, link_vote_post_path(post) %>
       </div>
       <div class="col-m-5">

       <%=  post.summary %>
     </div>
      </td>
      <td>
        <div>
        <%= link_to "Like" , vote_post_path(post), class: "col-xs-3 btn btn-default btn-xs like-button" %>
      </div>
      </td>
     </tr>

     <% end %>
</table>
